* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Heebo';
    src: url('fonts/subset-Heebo-Medium.eot');
    src: url('fonts/subset-Heebo-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Heebo-Medium.woff2') format('woff2'),
        url('fonts/subset-Heebo-Medium.woff') format('woff'),
        url('fonts/subset-Heebo-Medium.ttf') format('truetype'),
        url('fonts/subset-Heebo-Medium.svg#Heebo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/subset-Raleway-Medium.eot');
    src: url('fonts/subset-Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Raleway-Medium.woff2') format('woff2'),
        url('fonts/subset-Raleway-Medium.woff') format('woff'),
        url('fonts/subset-Raleway-Medium.ttf') format('truetype'),
        url('fonts/subset-Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

html {
  font-family: Heebo, serif;
  font-size: 10px;
}

h1, h2 {
  font-family: Raleway, sans-serif;
  letter-spacing: 2.5px;
}

body {
  margin: auto;
  width: 80%;
}

div {
  float: left;
  width: 70%;
}

aside {
  float: left;
  width: 30%;
  text-align: center;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

header, footer {
  border-top: 3px solid lightblue;
  border-bottom: 3px solid lightblue;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

div h2 + p {
  text-indent: 20px;
}

p, li {
  font-size: 2rem;
  letter-spacing: 1,5px;
  word-spacing: 3px;
}

a:link, a:visited {
  color: #a66;
}

a:focus, a:hover {
  text-decoration: none;
}

ul, ol {
  margin: 1.6rem 0;
}

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}

img{
  height: 16px;
  width: auto;
}

#head {
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid #a66;
}

nav a:focus, nav a:hover {
  color: white;
  background: #a66;
}

nav a:active {
  color: white;
  background: black;
}
